*{
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color:white;
  padding-top: 16px;
  padding-bottom: 16px;
 
}
.image{
  height: 60px;
  width: 140px;
  
}
.navbar{
  display: flex;
  gap: 32px;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
}
.btn{
  color: white;
  font-size: 16px;
  font-weight: 600;
  background-color: #30B868;
  padding: 12px 16px 12px 16px;
  border: none;
  border-radius: 5px;
  text-align: center;
  img
}

.btnn{
  font-size: 16px;
  font-weight: 500;
  background-color: white;
  color:#30B868;
  display: flex;
  gap:8px;
  align-items:center;
  margin: 0 auto;
  padding: 6px 12px;
  border: none;
  border-radius: 25px;
}
.btnn img{
   height: 25px;
   width: 20px;
   padding-bottom: 5px ;
}
.hero{
  background-image: url(./B13-A01-Knowledge-Vault/assets/hero-bg.png);
  height: 674px;
  padding: 115px 120px 178px 120px;
}


.main{
  font-size:81px ;
  text-align: center;
  color: white;
  padding: 16px 256px;
}
.line{
  color: #30B868;
}
.para{
  color: rgba(255, 255, 255, 1);
  text-align: center;
  font-size: 18px;
  line-height: 22PX;
}
.bbtn{
  color: white;
  font-size: 16px;
  font-weight: 600;
  background-color: #30B868;
  padding: 12px 16px 12px 16px;
  border: none;
  border-radius: 5px;
  text-align: center;
  display: flex;
  gap: 8px;
}
.bbtn img{
   height: 20px;
   width: 20px;
}
.bttn{
  color: white;
  background-color:transparent;
  padding: 12px 16px 12px 16px;
  font-size: 16px;
  font-weight: 600;
  display: flex;
  text-align: center;
  gap: 8px;
  border:1px solid white;
  border-radius:5px;

}
.bttn img{
  height: 20px;
  width: 20px;
}
.center{
  display:flex;
  justify-content:center;
  align-items: center;
  padding:32px;
  gap: 16px;
}
/* .middle{
  font-size: 48px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  text-align:center;

}
.mid{
  font-size: 16;
  color: #627382;

} */