*{
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
.font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color:white;
  padding-top: 16px;
  padding-bottom: 16px;
}
.image{
  height: 60px;
  width: 140px;
  
}
.navbar{
  display: flex;
  gap: 32px;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
}
.btn{
  color: white;
  font-size: 16px;
  font-weight: 600;
  background-color: #30B868;
  padding: 12px 16px 12px 16px;
  border: none;
  border-radius: 5px;
  text-align: center;
}

.btnn{
  font-size: 16px;
  font-weight: 500;
  background-color: white;
  color:#30B868;
  display: flex;
  gap:8px;
  align-items:center;
  margin: 0 auto;
  padding: 6px 12px;
  border: none;
  border-radius: 25px;
}
.btnn img{
   height: 25px;
   width: 20px;
   padding-bottom: 5px ;
}
.hero{
  background-image: url(./B13-A01-Knowledge-Vault/assets/hero-bg.png);
  height: 674px;
  padding: 110px;
}


.main{
  font-size:81px ;
  text-align: center;
  color: white;
  padding: 16px 256px;
}
.line{
  color: #30B868;
  white-space: nowrap;
}
.para{
  color: rgba(255, 255, 255, 1);
  text-align: center;
  font-size: 18px;
  line-height: 22PX;
}
.bbtn{
  color: white;
  font-size: 16px;
  font-weight: 600;
  background-color: #30B868;
  padding: 12px 16px 12px 16px;
  border: none;
  border-radius: 5px;
  text-align: center;
  display: flex;
  gap: 8px;
}
.bbtn img{
   height: 20px;
   width: 20px;
}
.bttn{
  color: white;
  background-color:transparent;
  padding: 12px 16px 12px 16px;
  font-size: 16px;
  font-weight: 600;
  display: flex;
  text-align: center;
  gap: 8px;
  border:1px solid white;
  border-radius:5px;

}
.bttn img{
  height: 20px;
  width: 20px;
}
.center{
  display:flex;
  justify-content:center;
  align-items: center;
  padding:32px;
  gap: 16px;
}
.middle{
  font-size: 48px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  text-align:center;
  color: #001931;
  padding-top: 46px;

}
.mid{
  font-size: 16;
  color: #627382;
  display: flex;
  justify-content: center;
  text-align:center;
  padding-top: 10px;
  padding-bottom: 44px;
}
.card{
  max-width: 1360px;
  height: 300px;
  margin: 0 auto;
  display: flex;
  gap: 24px;
  align-items: center;
  padding: 50px;
  
}
.card .info{
  padding: 55px 24px;
  border: 1px solid white;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0 0 8px 0 #00000028;
  height: 300px;
  width: 322px;

}

.card .info h3{
  font-size: 24px;
  font-weight: 600;
  color: #001931;
}
.card .info p {
 font-size: 16px;
 color: #627382;
 padding-top: 16px;
 padding-bottom:32px;
}
.info img{
  height: 32px;
  width: 32px;
 background-color: #f95555;
 padding: 7px;
border-radius: 70px;
}
.hi{
 padding: 120px;

}
.hi h5{
  color: #30B868;
  font-size: 16px;
  font-weight:500;
  padding-bottom: 16px;
}
.hi h3{
  font-size: 48px;
  font-weight: bold;
  color: #001931;
}
.hi p{
  font-size: 16px;
  color: #627382;
  line-height: 20px;
  padding-top: 16px;
  padding-bottom: 40px;
}
.knowlwdge{
  height: 600px;
  width: 600px;
}
.hello{
  display:flex;
  width:700px;
  align-items: center;
}
.hello img{
  height: 20px;
  width: 20px;
}
.matha{
 margin: 0;
 padding: 0;
 list-style: none;
}
.hi{
  display: flex;
}
.bye{
  display: flex;
  flex-direction: column;
}
.abc{
  display: flex;
 align-items:center;
 gap: 10px;
 margin-bottom: 8px;
}
.abc .nam img{
  height: 24px;
  width: 24px;
  display: block;
}
.nam{
  padding-bottom: 20px;
}
.def{
 list-style-type:none;
 padding: 100px 0 100px 60px;
 max-height: 397px;
}
  




.plus h3{
  font-size: 48px;
  font-weight: bold;
  color: #001931;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 16px;
}
.plus p{
  font-size: 16px;
  color: #627382;
   display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.btnnn{
  display:flex;
  justify-content:center;
  align-items: center;
  padding:32px;
  gap: 16px;
  color: white;
  font-size: 16px;
  font-weight: 600;
  background-color: #30B868;
  padding: 12px 16px 12px 16px;
  border: none;
  border-radius: 5px;
  text-align: center;
}
.minus{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 16px;
}
.plus{
  padding: 80px 40px;
  border: 1px solid white;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0 0 8px 0 #00000028;
  /* height: 385px;
  width: 1360px; */
  background-color:#f7f6f2;
  margin-right:120px;
  margin-left :120px;
  gap: 24px;

}
.cross{
  padding-bottom: 24px;
}

.footer{
  background-color: rgb(0,25,49);
  height: 264px;
}

.foot{
  display: flex;
  justify-content:space-between;
  padding: 120px 120px 80px 120px;
  background-color: rgb(0,25,49);
  margin-top: 120px;
  
}
.last{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 15px;
  color: #FAFAFA;
  background-color: #001931;
  font-size: 16px;
  padding-top:30px;
}
.first{
  border:1px solid #627382;
  border-top-width: 1px;
  margin:0 120px;
}
 footer br{
   background-color: #001931;
}
.onee{
  height: 20px;
  width: 20px;
  
}
.photo{
  display: flex;
  gap: 16px;
  
}
.goru{
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.hey{
  font-size: 20px;
  font-weight: 500;
  color: white;
}